.footer{
			position: fixed;
			bottom: 0px;
			height: 35px;
			width: 100%;
			left: 0px;
			background-color: brown;
		}
.header
{
	position: absolute;
	top: 0px;
	color: black;
	left: 0px;
	background-color: lightgray;
	width: 100%;
	height: 100px;
	border-bottom: 2px solid black ;
}
body {
	bgcolor="white";
	height: 1140px;
}
.roomcontainer{
	border: 2px solid black;
	width: 1000px;
	height: 200px;
}